#header .logo {
    background: url("../images/logo.png") no-repeat;
}

/* Navigation */

.tabsPage .tabsPageHeader li span.icon { padding: 0 0 0 20px; }

.icon-humans,
.tree div.icon-humans,
.accordion .accordionHeader h2 span.icon-humans {
	background: url("../images/icons/icon-humans.png") no-repeat left 3px;
}

.icon-admin,
.tree div.icon-admin,
.accordion .accordionHeader h2 span.icon-admin {
    background: url("../images/icons/icon-admin.png") no-repeat left 3px;
}

.icon-finance,
.tree div.icon-finance,
.accordion .accordionHeader h2 span.icon-finance {
    background: url("../images/icons/icon-finance.png") no-repeat left 3px;
}

.icon-school,
.tree div.icon-school,
.accordion .accordionHeader h2 span.icon-school {
    background: url("../images/icons/icon-school.png") no-repeat left 3px;
}

.icon-settings,
.tree div.icon-settings,
.accordion .accordionHeader h2 span.icon-settings {
    background: url("../images/icons/icon-settings.png") no-repeat left 3px;
}

.icon-system,
.tree div.icon-system,
.accordion .accordionHeader h2 span.icon-system,
.tabsPage .tabsPageHeader li span.icon-system {
    background: url("../images/icons/icon-system.png") no-repeat left 3px;
}

.icon-field,
.tree div.icon-field,
.accordion .accordionHeader h2 span.icon-field,
.tabsPage .tabsPageHeader li span.icon-field {
    background: url("../images/icons/menu/system/icon-field.png") no-repeat left 3px;
}


.icon-contractForm,
.tree div.icon-contractForm,
.tabsPage .tabsPageHeader li span.icon-contractForm,
.accordion .accordionHeader h2 span.icon-contractForm {
    background: url("../images/icons/menu/humans/icon-contract.png") no-repeat left 3px;
}

.icon-contractList,
.tree div.icon-contractList,
.tabsPage .tabsPageHeader li span.icon-contractList,
.accordion .accordionHeader h2 span.icon-contractList {
    background: url("../images/icons/menu/humans/icon-list.jpg") no-repeat left 3px;
}

.icon-financeContract,
.tree div.icon-financeContract,
.tabsPage .tabsPageHeader li span.icon-financeContract,
.accordion .accordionHeader h2 span.icon-financeContract {
    background: url("../images/icons/menu/finance/icon-contract.png") no-repeat left 3px;
}


.icon-financeInvoice,
.tree div.icon-financeInvoice,
.tabsPage .tabsPageHeader li span.icon-financeInvoice,
.accordion .accordionHeader h2 span.icon-financeInvoice {
    background: url("../images/icons/menu/finance/icon-invoice.png") no-repeat left 3px;
    padding: 0 0 0 20px;
}


.icon-financeAttendance,
.tree div.icon-financeAttendance,
.tabsPage .tabsPageHeader li span.icon-financeAttendance,
.accordion .accordionHeader h2 span.icon-financeAttendance {
    background: url("../images/icons/menu/finance/icon-attendance.png") no-repeat left 3px;
    padding: 0 0 0 20px;
}


.icon-financeConsumption,
.tree div.icon-financeConsumption,
.tabsPage .tabsPageHeader li span.icon-financeConsumption,
.accordion .accordionHeader h2 span.icon-financeConsumption {
    background: url("../images/icons/menu/finance/icon-consumption.png") no-repeat left 3px;
    padding: 0 0 0 20px;
}


/* Styles overwritten */
h2.contentTitle { margin-bottom: 0px; }
fieldset { margin-bottom: 10px; }
.searchBar ul.searchContent li { width: 200px;}
.searchBar label {width: 60px;}
.grid .gridHeader th { text-align: center; }
.date {width: 80px;}

/* */
.treePanel {float: left; display: block; overflow: auto; width: 300px; border-right: 1px solid rgb(204, 204, 204); line-height: 21px; background: rgb(255, 255, 255); }
.treeRelPanel {margin-left: 305px;}
table.dform { border-spacing:12px; width: 100%;}
table.dform input.textInput {width: 100%;}
span.error { left: 90px; }