<form xmlns:th="http://www.thymeleaf.org" id="pagerForm" method="GET" action="school/member">
    <input type="hidden" name="pageNum" th:value="${pagingBean ne null ? pagingBean.pageNumber : 1}" />
    <input type="hidden" name="numPerPage" th:value="${pagingBean ne null ? pagingBean.pageSize : 20}"  />
</form>

<div class="pageHeader" xmlns:th="http://www.thymeleaf.org">
    <form id="searchForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="school/member" method="GET">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <label>教师姓名：</label>
                        <input type="text" name="userName" th:value="${search != null ? search.userName : ''}" style="width: 100px;" class="textInput">
                    </td>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="panelBar">
    <ul class="toolBar">
        <li class="">
            <a class="add" href="school/member/dialog" target="dialog" mask="true" width="585" height="450">
                <span>添加教师</span>
            </a>
        </li>
    </ul>
</div>

<div class="pageContent" xmlns:th="http://www.thymeleaf.org">
    <table class="table" width="100%" layoutH="135">
        <thead>
            <tr>
                <th>姓名</th>
                <th width="150">身份证</th>
                <th width="100">手机号</th>
                <th>微信号</th>
                <th>所授课程</th>
                <th>其他描述</th>
                <th>角色</th>
                <th>状态</th>
                <th width="60">密码重置</th>
                <th width="50">编辑</th>
                <th width="50">解绑</th>
            </tr>
        </thead>
        <tbody>
            <div th:if="${pagingBean != null and pagingBean.items != null}">
                <tr th:each="item: ${pagingBean.items}">
                    <td th:text="${item.userName}"></td>
                    <td align="center" th:text="${item.userIdentity}"></td>
                    <td align="center" th:text="${item.phone}"></td>
                    <td th:text="${item.wxId}"></td>
                    <td align="center" th:text="${item.coursesDesc}"></td>
                    <td align="center" th:text="${item.gradesDesc} + ',' + ${item.subjectsDesc}"></td>
                    <td align="center" th:text="${item.rolesDesc}"></td>
                    <td align="center" th:text="${item.status eq 0 ? '停用' : '启用'}" th:style="'color: ' + ${item.status eq 0 ? '#ccc' : 'green'}"></td>
                    <td align="center">
                        <a th:if="${item.status ne 0}" th:title="'密码重置 - ' + ${item.userName}" target="dialog" mask="true" width="350" height="200"
                           th:href="'school/member/pwd?id=' + ${item.id} " class="btnView" style="float: none">编辑</a>
                        <span th:if="${item.status eq 0}">---</span>
                    </td>
                    <td align="center">
                        <a th:if="${item.status ne 0}" title="编辑" target="dialog" mask="true" width="585" height="450"
                           th:href="'school/member/dialog?id=' + ${item.id}" class="btnEdit" style="float: none">编辑</a>
                        <span th:if="${item.status eq 0}">---</span>
                    </td>
                    <td align="center">
                        <a title="解绑" target="ajaxToDo" callback="onUserStatChangeSuccess" type="PATCH"
                           th:title="'确定要' + ${item.status eq 0 ? '启用' : '解绑'} + ' \'' + ${item.userName} + '\' 用户么?'"
                           th:href="'member/stat/' + ${item.id} + '?status=' + ${item.status eq 0 ? '1' : '0'}" th:class="${item.status eq 0 ? 'btnSelect' : 'btnDel'}" style="float: none">删除</a>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="1" th:selected="${pagingBean != null and pagingBean.pageSize eq 1}">1</option>
                <option value="20" th:selected="${pagingBean != null and pagingBean.pageSize eq 20}">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
            </select>
            <span th:text="'条，共' + ${pagingBean ne null ? pagingBean.totalItems : 0} + '条'"></span>
        </div>
        <div class="pagination" targetType="navTab"
             th:totalCount="${pagingBean ne null ? pagingBean.totalItems : 0}"
             th:numPerPage="${pagingBean ne null ? pagingBean.pageSize : 20}"
             pageNumShown="10"
             th:currentPage="${pagingBean ne null ? pagingBean.pageNumber : 1}"></div>
    </div>
</div>

<script type="text/javascript">
    function onUserStatChangeSuccess() {
        navTab.reload(null, {});
    }
</script>