<div class="pageContent">

    <!-- Tree Page -->
    <div xmlns:th="http://www.thymeleaf.org" th:replace="~{modules/admin/system/pages/configTreePage::tree}" />

    <!-- Table List -->
    <div id="cfgTableList">
        <div xmlns:th="http://www.thymeleaf.org" th:replace="~{modules/admin/system/pages/configListPage::table}" />
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#cfgBtnEdit").click(function(){
            var selectedItem = $("#cfgTree").find(".selected");
            if (selectedItem.size() > 0) {
                var itemId = selectedItem.find("a").attr("tvalue");
                $.pdialog.open(
                    "admin/system/settings/dialog?id=" + itemId,
                    "dlg_cfgEdit",
                    $(this).find("span").text(),
                    {width: 350, height: 200, mask: true, max: false});
            }
        });

        $("#cfgBtnDel").click(function(){
            var selectedItem = $("#cfgTree").find(".selected");
            if (selectedItem.size() > 0) {
                var itemName = selectedItem.find("a").attr("tname");
                var itemId = selectedItem.find("a").attr("tvalue");
                alertMsg.confirm("确定删除 '" + itemName + "' 配置项么?", {
                    okCall: function() {
                        generic_ajax_op("system/config/" + itemId, "DELETE", null, null, (
                            function(result) {
                                alertMsg.correct("配置項 '" + itemName + "' 已成功删除");
                                navTab.reload();
                            }
                        ));
                    }
                });
            } else {
                alertMsg.error("请从树形结构中选择要删除的配置项..");
            }
        });
    });
</script>