<script>
	$(function(){
		$("#btnSaveField").unbind("click");
        $("#btnSaveField").bind("click", function(){
			if (!$("#formSettingField").valid()) {
                return false;
			}

            var base = "system/config";
            var jsonData = $("#formSettingField").serializeJSON();
            var isPatch = jsonData.id != "" && jsonData.id > 0;
            var uri = isPatch ? (base + "/" + jsonData.id) : base;
			var type = isPatch ? "PATCH" : "POST";

            generic_ajax_op(uri, type, jsonData, null, (
                function(result) {
				    $.pdialog.closeCurrent();
				    alertMsg.correct("子配置項 '" + result.data.configDescription + "' " + (isPatch ? "更新" : "添加") + "成功");
                    reloadConfigNavTab();
                }
            ));
		});
	});
</script>

<div xmlns:th="http://www.thymeleaf.org" class="pageContent">
	<form id="formSettingField" method="post" class="pageForm required-validate">
		<div class="pageFormContent" layoutH="56">
			<table cellspacing="10" cellpadding="10" class="dform">
                <tr th:if="${parentId != null}">
                    <td>父字段：</td>
                    <td><input name="rootName" type="text" size="30" th:value="${parent != null ? parent.configDescription : ''}" readonly /></td>
                </tr>
				<tr>
					<td>字段ID：</td>
					<td><input name="configName" type="text" size="30" th:value="${config != null ? config.configName : ''}" class="required" /></td>
				</tr>
				<tr>
					<td>字段名称：</td>
					<td><input name="configDescription" type="text" size="30" th:value="${config != null ? config.configDescription : ''}" class="required" /></td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" id="btnSaveField">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button class="close" type="button">取消</button></div></div></li>
			</ul>
		</div>
		<input type="hidden" name="id" th:value="${config != null ? config.id : ''}" />
        <input th:if="${parent != null}" name="parentId" th:value="${parent.id}" />
	</form>
<div>
		