<style>
    #contractForm .textInput {width: 155px;}
    #contractForm td, #contractFormContent dd {position: relative}
    #contractFormContent span.error {left: auto; right: 0px; top: 0;}
    #contractFormContent td span.error {left: auto; right: 0px;position: absolute;z-index: 9999;}
    #contractFormContent dl {width: 300px; margin-bottom: 6px;}
    #contractFormContent dd {width: 160px;}
    #contractFormContent dt {text-align: right;}
    #contractFormContent th, #contractFormContent td {text-align: center}
    #contractFormContent td input {float: none;}
</style>
<h2 class="contentTitle">合同录入</h2>
<div xmlns:th="http://www.thymeleaf.org" class="pageContent">
    <form method="post" action="" class="pageForm required-validate" id="contractForm" novalidate="novalidate">
        <div class="pageFormContent" id="contractFormContent" layouth="87" style="overflow: auto;">
            <div style="float:left; width: 630px">
                <fieldset>
                    <legend>合同信息</legend>
                    <dl>
                        <dt>绑定微信号：</dt>
                        <dd>
                            <input id="stu_wxId" name="student[wxId]" type="text" class="textInput required"
                                   postField="wxId" suggestUrl="student" suggestFields="name,wxId" lookupGroup="stu">
                            <input id="stu_id" type="hidden" name="student[id]" clean="true"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>合同编号：</dt>
                        <dd><input name="contractNo" type="text" class="textInput required"></dd>
                    </dl>
                    <dl>
                        <dt>咨询师：</dt>
                        <dd>
                            <input id="cg_id" name="consultant[id]" type="hidden" clean="true" />
                            <input id="cg_userName" name="consultant[name]" type="text" class="required textInput"
                                   postField="userName" suggestUrl="member" suggestFields="userName,phone" lookupGroup="cg" clean="true"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt>报名类型：</dt>
                        <dd>
                            <select class="combox" name="enrollType[id]" title="报名类型" style="width: 160px">
                                <option value="1">新报</option>
                                <option value="2">续保</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>学生姓名：</dt>
                        <dd><input id="stu_name" name="student[name]" type="text" class="textInput required" clean="true"></dd>
                    </dl>
                    <dl>
                        <dt>学生年段：</dt>
                        <dd>
                            <select id="stu_levelId" class="combox" name="grade[id]" style="width: 160px" title="学生年段"
                                    ref="stu_subLevelId" refUrl="system/config/{value}" callIfEmpty="false"
                                    data="data" group="children" optName="configDescription" optVal="id"
                                    th:if="${not #lists.isEmpty(level.children)}"
                                    th:with="options=${level.children}">
                                <option value="">请选择</option>
                                <option th:each="option:${options}" th:value="${option.id}" th:text="${option.configDescription}">学生年段</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>细分年段：</dt>
                        <dd>
                            <select id="stu_subLevelId" class="combox" name="gradeSub[id]" style="width: 160px" title="细分年段">
                                <option value="">请选择</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>课程名称：</dt>
                        <dd>
                            <select id="stu_courseId"  class="combox" name="course[id]" style="width: 160px" title="课程名称"
                                    ref="stu_subCourseId" refUrl="product/{value}" callIfEmpty="false"
                                    data="data" group="children" optName="productName" optVal="id">
                                <option value="">请选择</option>
                                <option th:each="option:${products}" th:value="${option.id}" th:text="${option.productName}">课程名称</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>课程子类：</dt>
                        <dd>
                            <select class="combox" name="courseSub[id]" style="width: 160px" id="stu_subCourseId" title="课程子类">
                                <option value="">请选择</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>报名课时：</dt>
                        <dd><input name="enrollPeriod" type="text" class="textInput required number"></dd>
                    </dl>
                    <dl>
                        <dt>赠送课时：</dt>
                        <dd><input name="freePeriod" type="text" class="textInput number"></dd>
                    </dl>
                    <dl>
                        <dt>签约总价：</dt>
                        <dd><input name="contractPrice" type="text" class="textInput required number"></dd>
                    </dl>
                    <dl>
                        <dt>优惠：</dt>
                        <dd><input name="discountPrice" type="text" class="textInput number"></dd>
                    </dl>
                    <dl>
                        <dt>其他费用：</dt>
                        <dd><input name="otherPrice" type="text" class="textInput number"></dd>
                    </dl>
                    <dl>
                        <dt>实收金额：</dt>
                        <dd><input name="totalPrice" type="text" class="textInput required number"></dd>
                    </dl>
                    <dl>
                        <dt>联系人姓名：</dt>
                        <dd><input id="stu_contactName" clean="true" name="student[contactName]" type="text" class="textInput required"></dd>
                    </dl>
                    <dl>
                        <dt>联系人关系：</dt>
                        <dd>
                            <select id="stu_contactRelationType" clean="true" class="combox" style="width: 160px" name="student[contactRelation][id]" title="联系人关系">
                                <option value="1">父亲</option>
                                <option value="2">母亲</option>
                                <option value="3">爷爷</option>
                                <option value="4">奶奶</option>
                                <option value="5">本人</option>
                                <option value="6">其他</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>联系方式：</dt>
                        <dd><input id="stu_contactPhone" clean="true" name="student[contactPhone]" type="text" class="textInput required mobile"></dd>
                    </dl>
                    <dl>
                        <dt>其他备注方式：</dt>
                        <dd><input id="stu_meto" name="student[meto]" clean="true" type="text" alt="如学校信息/家庭地址等" class="textInput"></dd>
                    </dl>
                    <dl>
                        <dt>签约日期：</dt>
                        <dd>
                            <input type="text" name="contractDate" class="date textInput required" />
                        </dd>
                    </dl>
                </fieldset>
            </div>
            <div style="margin-left: 640px;">
                <fieldset>
                    <legend>收据信息</legend>
                    <div style="overflow: auto;" id="cform">
                        <table class="list nowrap itemDetail" width="100%" addButton="添加收据" rowNumWidth="30">
                            <thead>
                                <tr>
                                    <th type="text" width="" name="invoices[][invoiceNo]">收据编号</th>
                                    <th type="text" width="" name="invoices[][price]" defaultVal="0.00" size="12" fieldClass="number paymoney">支付金额</th>
                                    <th type="enum" width="120" name="invoices[][payType][id]" enum="现金:1,转账:2,微信:3,支付宝:4,其他:5">支付方式</th>
                                    <th type="del" width="60" align="center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="unitBox">
                                    <td><input type="text" name="invoices[][invoiceNo]" value="" size="12" maxlength="10"></td>
                                    <td><input type="text" name="invoices[][price]" value="0.00" size="12" class="number textInput paymoney"></td>
                                    <td>
                                        <select class="combox" style="width: 120px" name="invoices[][payType][id]">
                                            <option value="1">现金</option>
                                            <option value="2">转账</option>
                                            <option value="3">微信</option>
                                            <option value="4">支付宝</option>
                                            <option value="5">其他</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div style="clean: both"></div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="button" id="btnSaveContract">保存</button></div></div></li>
            </ul>
        </div>
    </form>
</div>

<script>
    $(function(){
        $("#btnSaveContract").unbind("click").bind("click", function(){
            if (!$("#contractForm").valid()) {
                return false;
            }

            var valid = true;
            $("#contractForm").find("select").each(function(){
                if (valid && $(this).val() == "") {
                    alertMsg.error($(this).attr("title") + " 不能为空");
                    valid = false;
                }
            });

            var paid = 0;
            if (valid) {
                 $("#contractForm").find("input.paymoney").each(function(){
                    if (valid) {
                        var invoiceNo = $($(this).parent().parent().find("input")[0]).val();
                        $(this).val($(this).val().trim());
                        if (invoiceNo != "" && ($(this).val() == "" ||
                            !/^-?(?:\d+|\d{1,3}(?:,\d{3})+)?(?:\.\d+)?$/.test($(this).val()) ||
                            parseFloat($(this).val()) <= 0)
                        ) {
                            $(this).focus();
                            valid = false;
                            alertMsg.error("非法支付金额: " + $(this).val());
                        } else {
                            paid += parseFloat($(this).val());
                        }
                    }
                });
            }

            var jsonData = $("#contractForm").serializeJSON();
            var totalPrice = parseFloat(jsonData.totalPrice);
            if (paid > totalPrice) {
                alertMsg.error("收据支付总额 (" + paid + ") 超出了实收金额 (" + totalPrice + ") !");
                return false;
            }

            if (valid) {
                generic_ajax_op("contract", "POST", $("#contractForm").serializeJSON(), null, (
                    function(result) {
                        // add invoices if any
                        alertMsg.correct("合同添加成功");
                        navTab.reload(null, {});
                        /*
                        var formData = $("#contractForm").serializeJSON();
                        var invoiceData = formData["invoices"];
                        for (var index in invoiceData) {
                            invoiceData[index]["contract"] = {"id" : result.data.id};
                        }
                        generic_ajax_op("invoice", "POST", invoiceData, null, (
                            function (result) {
                                alertMsg.correct("合同添加成功");
                                navTab.reload(null, {});
                            }
                        ));
                        */
                    }
                ));
            }
        });
    });
</script>