<div xmlns:th="http://www.thymeleaf.org" class="headerNav" th:fragment="banner">
    <a class="logo1" href="#">微课时</a>
    <ul class="nav">
        <li><a href="logout">退出</a></li>
    </ul>
    <ul class="themeList" id="themeList">
        <li theme="default"><div class="selected">蓝色</div></li>
        <li theme="azure"><div>天蓝</div></li>
        <li theme="green"><div>绿色</div></li>
        <!--<li theme="red"><div>红色</div></li>-->
        <li theme="purple"><div>紫色</div></li>
        <li theme="silver"><div>银色</div></li>
    </ul>
</div>