<div xmlns:th="http://www.thymeleaf.org" id="productBox" class="unitBox treeRelPanel" th:fragment="table">
    <div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid">
        <div class="panelBar">
            <ul class="toolBar">
                <li class="">
                    <a class="add" id="productBtnAddSub" href="javascript:void(0);">
                        <span>添加课程子类</span>
                    </a>
                </li>
            </ul>
        </div>

        <table class="table" width="100%" layoutH="35" rel="jbsxBox">
            <thead>
                <tr>
                    <th width="120">课程大类</th>
                    <th width="120">课程子类</th>
                    <th width="56">编辑</th>
                </tr>
            </thead>
            <tbody>
                <div th:if="${#ctx.containsVariable('config') and not #lists.isEmpty(config.children)}">
                <tr
                    th:each="entity: ${config.children}">
                    <td align="center" th:text="${config.configDescription}" style="background-color: #f7fafb"/>
                    <td align="center" th:text="${entity.configDescription}" />
                    <td align="center">
                        <a title="删除" target="ajaxToDo" callback="onDeleteSuccess" type="DELETE" th:title="'确定要删除\'' + ${entity.configDescription} + '\' 配置项么?'" th:href="'system/config/' + ${entity.id}" class="btnDel">删除</a>
                        <a title="编辑" target="dialog" mask="true" width="350" height="240" th:href="'admin/system/settings/dialog?id=' + ${entity.id} + '&pid=' + ${config.id}" class="btnEdit">编辑</a>
                    </td>
                </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    function onDeleteSuccess() {
        //alertMsg.success("配置项已删除..");
        reloadConfigNavTab();
    }

    $(function() {
        $("#cfgBtnAddSub").click(function(){
            var selectedItem = $("#cfgTree").find(".selected");
            if (selectedItem.size() > 0) {
                var itemId = selectedItem.find("a").attr("tvalue");
                $.pdialog.open(
                    "admin/system/settings/dialog?pid=" + itemId,
                    "dlg_cfgNewSub",
                    $(this).find("span").text(),
                    {width: 350, height: 240, mask: true, max: false});
            } else {
                alertMsg.error("请从左侧树形结构中选择父节点字段..");
            }
        });
    });
</script>