<div class="accordionHeader">
    <h2><span class="icon-admin">Folder</span>教务管理</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder">
        <li data-icon="icon-academicPlan" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">教师安排</a>
        </li>
        <li data-icon="icon-academicPeriod" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">课时统计</a>
        </li>
        <li data-icon="icon-academicAttendance" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">考勤记录</a>
        </li>
    </ul>
</div>
