<div class="accordionHeader">
    <h2><span class="icon-finance">Folder</span>财务管理</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder">
        <li data-icon="icon-financeContract"><a href="finance/contract" target="navTab" rel="financeContract" title="合同管理">合同管理</a></li>
        <li data-icon="icon-financeInvoice"><a href="finance/invoice" target="navTab" rel="financeInvoice" title="收据管理">收据管理</a></li>
        <li data-icon="icon-financeAttendance"><a href="finance/attendance" target="navTab" rel="financeAttendance" title="考勤管理">考勤管理</a></li>
        <li data-icon="icon-financeConsumption"><a href="finance/consumption" target="navTab" rel="financeConsumption" title="耗课统计">耗课统计</a></li>
    </ul>
</div>
