<div class="accordionHeader">
    <h2><span class="icon-settings">Folder</span>学校设置</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder">
        <li data-icon="icon-settings"><a href="school/info" target="navTab" rel="schoolInfo" title="学校信息">学校信息</a></li>
        <li data-icon="icon-settings"><a href="school/product" target="navTab" rel="schoolProduct" title="产品定义">产品定义</a></li>
        <li data-icon="icon-settings"><a href="school/member" target="navTab" rel="schoolMember" title="员工绑定">员工绑定</a></li>
        <li data-icon="icon-settings"><a href="school/consult" target="navTab" rel="schoolConsult" title="咨询师变更">咨询师变更</a></li>
    </ul>
</div>
