<div class="accordionHeader">
    <h2><span class="icon-settings">Folder</span>学校设置</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder">
        <li treeicon="icon-settings" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">合同管理</a>
        </li>
        <li treeicon="icon-settings" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">收据管理</a>
        </li>
        <li treeicon="icon-settings" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">考勤管理</a>
        </li>
        <li treeicon="icon-settings" class="sub">
            <a href="#" target="navTab" rel="#" id="#" title="#">耗课统计</a>
        </li>
    </ul>
</div>
