<div class="accordionHeader">
    <h2><span class="icon-admin">Folder</span>教务管理</h2>
</div>
<div class="accordionContent">
    <ul class="tree treeFolder">
        <li data-icon="icon-academicPlan" class="sub">
            <a href="academic/course" target="navTab" rel="academicCourse" title="教师安排">教师安排</a>
        </li>
        <li data-icon="icon-academicPeriod" class="sub">
            <a href="academic/stat" target="navTab" rel="academicStat" title="教师课时统计">教师课时统计</a>
        </li>
        <li data-icon="icon-academicAttendance" class="sub">
            <a href="academic/attendance" target="navTab" rel="academicAttendance" title="课时考勤记录">课时考勤记录</a>
        </li>
    </ul>
</div>
