<script>
	$(function(){
		$("#btnSaveMember").unbind("click").bind("click", function(){
			if (!$("#formSchoolMember").valid()) {
                return false;
			}

            var base = "member";
            var jsonData = $("#formSchoolMember").serializeJSON();
            var isPatch = jsonData.id != "member" && jsonData.id > 0;
            var uri = isPatch ? (base + "/" + jsonData.id) : base;
			var type = isPatch ? "PATCH" : "POST";

            generic_ajax_op(uri, type, jsonData, null, (
                function(result) {
                    $.pdialog.closeCurrent();
                    alertMsg.correct("教师 '" + result.data.userName + "' " + (isPatch ? "更新" : "添加") + "成功");
                    navTab.reload(null, {});
                }
            ));
		});
	});
</script>

<style>
    #schoolMemberBox label { padding: 0; width: 60px; }
    #schoolMemberBox li { float: left; width: 105px; margin: 3px 0; }
	#schoolMemberBox span.error {left: auto; right: -5px;}
	#schoolMemberBox input, #schoolMemberBox span {vertical-align: middle;}
	#schoolMemberBox td {position: relative; }
</style>

<div xmlns:th="http://www.thymeleaf.org" class="pageContent">
	<form id="formSchoolMember" method="post" class="pageForm required-validate">
		<div id="schoolMemberBox"“ class="pageFormContent" layoutH="56">
			<table cellspacing="10" cellpadding="10" class="dform">
                <tr>
                    <td>微信号：</td>
                    <td><input name="wxId" type="text" size="15" th:value="${member != null ? member.wxId : ''}" class="required" /></td>
					<td align="right">姓名：</td>
					<td><input name="userName" type="text" size="15" th:value="${member != null ? member.userName : ''}" class="required" /></td>
                </tr>
				<tr>
					<td align="left">手机号：</td>
					<td><input name="phone" type="text" size="15" th:value="${member != null ? member.phone : ''}" class="required mobile" /></td>
					<td align="right">身份证号：</td>
					<td><input name="userIdentity" type="text" size="15" th:value="${member != null ? member.userIdentity : ''}" class="required idCard" /></td>
				</tr>
				<tr>
					<td>角色：</td>
					<td colspan="3">
                        <ul>
                            <li th:each="role,roleStat:${roles}">
                                <input type="checkbox" name="roleIds[]" th:if="${role.roleVisible == 1}" th:value="${role.id}"
									   th:checked="${member != null and not #lists.isEmpty(member.roleIds) and #lists.contains(member.roleIds, role.id)}"/> <span th:if="${role.roleVisible == 1}" th:text="${role.roleName}" />
                            </li>
                        </ul>
                    </td>
				</tr>
				<tr>
					<td width="60">所授课程：</td>
					<td colspan="3">
						<ul>
							<li th:each="type,typeStat:${types}">
								<input type="checkbox" name="courseIds[]" th:value="${type.id}"
									   th:checked="${member != null and not #lists.isEmpty(member.courseIds) and #lists.contains(member.courseIds, type.id)}"/> <span th:text="${type.productName}" />
							</li>
						</ul>
					</td>
				</tr>
				<tr th:if="${grades != null }">
					<td th:text="${grades.configDescription} + '：'" style="vertical-align: top; padding-top: 8px;">年级：</td>
					<td colspan="3" th:if="${not #lists.isEmpty(grades.children)}" th:with="options=${grades.children}">
                        <ul>
                            <li th:each="opt,optStat:${options}">
                                <input type="checkbox" name="gradeIds[]" th:value="${opt.id}"
									   th:checked="${member != null and not #lists.isEmpty(member.gradeIds) and #lists.contains(member.gradeIds, opt.id)}"/> <span th:text="${opt.configDescription}" />
                            </li>
                        </ul>
					</td>
				</tr>
				<tr th:if="${subjects != null}">
                    <td th:text="${subjects.configDescription} + '：'" style="vertical-align: top; padding-top: 8px;">年级：</td>
                    <td colspan="3" th:if="${not #lists.isEmpty(subjects.children)}" th:with="options=${subjects.children}">
                        <ul>
                            <li th:each="opt,optStat:${options}">
                                <input type="checkbox" name="subjectIds[]" th:value="${opt.id}"
									   th:checked="${member != null and not #lists.isEmpty(member.subjectIds) and #lists.contains(member.subjectIds, opt.id)}"/> <span th:text="${opt.configDescription}" />
                            </li>
                        </ul>
                    </td>
				</tr>
			</table>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" id="btnSaveMember">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button class="close" type="button">取消</button></div></div></li>
			</ul>
		</div>
		<input type="hidden" name="id" th:value="${member != null ? member.id : ''}" />
	</form>
<div>
		