<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.ContractRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.biz.model.ContractModel" id="result_contract">
        <id property="id" column="id"/>  
        <result property="contractNo"       column="contract_no"/>
        <result property="consultantId"     column="consult_id"/>
        <result property="supervisorId"     column="supervisor_id" />
        <result property="enrollType"       column="contract_type"/>
        <result property="enrollPeriod"     column="period_enroll" />
        <result property="freePeriod"       column="period_free" />
        <result property="contractPrice"    column="contract_price"/>
        <result property="discountPrice"    column="discount_price"/>
        <result property="totalPrice"       column="total_price"/>
        <result property="studentId"        column="student_id"/>
        <result property="schoolId"         column="school_id"/>
        <result property="levelId"          column="cfg_level"/>
        <result property="subLevelId"       column="cfg_subLevel" />
        <result property="courseId"         column="cfg_course" />
        <result property="subCourseId"      column="cfg_subCourse"/>
        <result property="contractDate"     column="contract_date"/>
        <result property="creationTime"     column="creationTime"/>
        <result property="lastUpdateTime"   column="updateTime" />
        <result property="contractStatus"   column="c_status" />
        <result property="payStatus"        column="c_paystatus" />

        <association property="consultant" column="consult_id"
                     select="org.edu.timelycourse.mc.biz.repository.UserRepository.get" />
        <association property="supervisor" column="supervisor_id"
                     select="org.edu.timelycourse.mc.biz.repository.UserRepository.get" />
        <association property="student" column="student_id"
                     select="org.edu.timelycourse.mc.biz.repository.StudentRepository.get" />
        <association property="level" column="cfg_level"
                     select="org.edu.timelycourse.mc.biz.repository.SystemConfigRepository.get" />
        <association property="subLevel" column="cfg_subLevel"
                     select="org.edu.timelycourse.mc.biz.repository.SystemConfigRepository.get" />
        <association property="course" column="cfg_course"
                     select="org.edu.timelycourse.mc.biz.repository.SchoolProductRepository.get" />
        <association property="subCourse" column="cfg_subCourse"
                     select="org.edu.timelycourse.mc.biz.repository.SchoolProductRepository.get" />

        <collection property="invoices" column="id" javaType="java.util.ArrayList"
                    ofType="org.edu.timelycourse.mc.biz.model.InvoiceModel"
                    select="org.edu.timelycourse.mc.biz.repository.InvoiceRepository.getByContractId"
        />

    </resultMap>
    
    <insert id="insert" parameterType="ContractModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school_contract`
        (
            contract_no, student_id, school_id, consult_id, contract_type, period_enroll, period_free, contract_price, discount_price, total_price, supervisor_id,
            cfg_level, cfg_subLevel, cfg_course, cfg_subCourse, contract_date, creationTime, updateTime, c_status, c_paystatus
        ) VALUES
        (
            #{contractNo}, #{studentId}, #{schoolId}, #{consultantId}, #{enrollType}, #{enrollPeriod}, #{freePeriod}, #{contractPrice}, #{discountPrice}, #{totalPrice}, #{supervisorId},
            #{levelId}, #{subLevelId}, #{courseId}, #{subCourseId}, #{contractDate}, #{creationTime}, #{lastUpdateTime}, #{contractStatus}, #{payStatus}
        )
    </insert>

    <update id="update" parameterType="ContractModel">
        UPDATE `t_school_contract`
        <set>
            <if test="contractNo != null and contractNo != ''">`contract_no` = #{contractNo},</if>
            <if test="consultantId != null and consultantId > 0">`consult_id` = #{consultantId},</if>
            <if test="supervisorId != null and supervisorId > 0">`supervisor_id` = #{supervisorId},</if>
            <if test="studentId != null and studentId > 0">`student_id` = #{studentId},</if>
            <if test="schoolId != null and schoolId > 0">`school_id` = #{schoolId},</if>
            <if test="enrollType != null and enrollType > -1">`contract_type` = #{enrollType},</if>
            <if test="enrollPeriod != null and enrollPeriod > 0">`period_enroll` = #{enrollPeriod},</if>
            <if test="freePeriod != null and freePeriod > -1">`period_free` = #{freePeriod},</if>
            <if test="contractPrice != null and contractPrice > 0">`contract_price` = #{contractPrice},</if>
            <if test="discountPrice != null and discountPrice > -1">`discount_price` = #{discountPrice},</if>
            <if test="totalPrice != null and totalPrice > 0">`total_price` = #{totalPrice},</if>
            <if test="levelId != null and levelId > 0">`cfg_level` = #{levelId},</if>
            <if test="subLevelId != null and subLevelId > 0">`cfg_subLevel` = #{subLevelId},</if>
            <if test="courseId != null and courseId > 0">`cfg_course` = #{courseId},</if>
            <if test="subCourseId != null and subCourseId > 0">`cfg_subCourse` = #{subCourseId},</if>
            <if test="contractDate != null">`contract_date` = #{contractDate},</if>
            <if test="lastUpdateTime != null">`updateTime` = #{lastUpdateTime},</if>
            <if test="contractStatus != null and contractStatus > -1">`c_status` = #{contractStatus},</if>
            <if test="payStatus != null and payStatus > -1">`c_paystatus` = #{payStatus},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByPage" parameterType="ContractModel" resultMap="result_contract">
        SELECT * FROM `t_school_contract`
        <where>
            1 = 1
            <if test="contractNo != null and contractNo != ''"> AND `contract_no` LIKE CONCAT('%',#{contractNo},'%')</if>
            <if test="enrollType != null and enrollType > -1"> AND `contract_type` = #{enrollType}</if>
            <if test="enrollPeriod != null and enrollPeriod > 0"> AND `period_enroll` &gt;= #{enrollPeriod},</if>
            <if test="levelId != null and levelId > 0"> AND `cfg_level` = #{levelId}</if>
            <if test="subLevelId != null and subLevelId > 0"> AND `cfg_subLevel` = #{subLevelId}</if>
            <if test="courseId != null and courseId > 0"> AND `cfg_course` = #{courseId}</if>
            <if test="subCourseId != null and subCourseId > 0"> AND `cfg_subCourse` = #{subCourseId}</if>
            <if test="contractDate != null"> AND `contract_date` = #{contractDate}</if>
            <if test="studentId != null and studentId > 0"> AND `student_id` = #{studentId}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = #{schoolId}</if>
            <if test="consultantId != null and consultantId > 0"> AND `consult_id` = #{consultantId}</if>
            <if test="supervisorId != null and supervisorId > 0"> AND `supervisor_id` = #{supervisorId}</if>
            <if test="contractStatus != null and contractStatus > -1"> AND `c_status` = #{contractStatus}</if>
            <if test="payStatus != null and payStatus > -1"> AND `c_paystatus` = #{payStatus}</if>
        </where>
         ORDER BY `contract_date` DESC
    </select>

    <select id="getByEntity" parameterType="ContractModel" resultMap="result_contract">
        SELECT * FROM `t_school_contract`
        <where>
            1 = 1
            <if test="contractNo != null and contractNo != ''"> AND `contract_no` = #{contractNo}</if>
            <if test="enrollType != null and enrollType > -1"> AND `contract_type` = #{enrollType}</if>
            <if test="enrollPeriod != null and enrollPeriod > 0"> AND `period_enroll` = #{enrollPeriod}</if>
            <if test="levelId != null and levelId > 0"> AND `cfg_level` = #{levelId}</if>
            <if test="subLevelId != null and subLevelId > 0"> AND `cfg_subLevel` = #{subLevelId}</if>
            <if test="courseId != null and courseId > 0"> AND `cfg_course` = #{courseId}</if>
            <if test="subCourseId != null and subCourseId > 0"> AND `cfg_subCourse` = #{subCourseId}</if>
            <if test="contractDate != null"> AND `contract_date` = #{contractDate}</if>
            <if test="studentId != null and studentId > 0"> AND `student_id` = #{studentId}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = #{schoolId}</if>
            <if test="consultantId != null and consultantId > 0"> AND `consult_id` = #{consultantId}</if>
            <if test="supervisorId != null and supervisorId > 0"> AND `supervisor_id` = #{supervisorId}</if>
            <if test="contractStatus != null and contractStatus > -1"> AND `c_status` = #{contractStatus}</if>
            <if test="payStatus != null and payStatus > -1"> AND `c_paystatus` = #{payStatus}</if>
        </where>
         ORDER BY `contract_date` DESC
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_contract">
        SELECT * FROM `t_school_contract` where `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school_contract` WHERE `id` = #{id}
    </update>

    <select id="getByContractNo" parameterType="java.lang.String" resultMap="result_contract">
        SELECT * FROM `t_school_contract` where `contract_no` = #{contractNo}
    </select>

    <select id="getAll" resultMap="result_contract">
        SELECT * FROM `t_school_contract` ORDER BY `contract_date` DESC
    </select>
    
</mapper>