<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.ContractClazzRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.beans.model.ContractClazzModel" id="result_clazz">
        <id property="id" column="id"/>  
        <result property="name" column="c_name"/>
        <result property="schoolId" column="school_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="status" column="c_status"/>
        <result property="creationTime" column="c_time"/>
    </resultMap>
    
    <insert id="insert" parameterType="ContractClazzModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school_class` (c_name, school_id, teacher_id, c_status, c_time)
          VALUES (#{name}, #{schoolId}, #{teacherId}, #{status}, #{creationTime})
    </insert>

    <update id="update" parameterType="ContractClazzModel">
        UPDATE `t_school_class`
        <set>
            <if test="name != null and name != ''">`c_name` = #{name},</if>
            <if test="teacher_id != null and teacher_id > 0">`teacher_id` = #{teacher_id},</if>
            <if test="school_id != null and school_id > 0">`school_id` = #{schoolId},</if>
            <if test="status != null">`c_status` = #{status},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByCriteria" parameterType="org.edu.timelycourse.mc.beans.criteria.ContractClazzCriteria" resultMap="result_clazz">
        SELECT * FROM `t_school_class`
        <where>
            1 = 1
            <if test="teacherId != null and teacherId > 0"> AND `teacher_id` = #{teacherId}</if>
            <if test="clazzName != null and clazzName != ''"> AND `c_name` = #{clazzName}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = #{schoolId}</if>
        </where>
        ORDER BY `c_time` DESC
    </select>

    <select id="getByPage" parameterType="ContractClazzModel" resultMap="result_clazz">
        SELECT * FROM `t_school_class`
        <where>
            1 = 1
            <if test="name != null and name != ''"> AND `c_name` = #{name}</if>
            <if test="teacher_id != null and teacher_id > 0"> AND `teacher_id` = #{teacher_id}</if>
            <if test="school_id != null and school_id > 0"> AND `school_id` = #{schoolId}</if>
            <if test="status != null"> AND `c_status` = #{status}</if>
        </where>
        ORDER BY `creationTime` DESC
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_clazz">
        SELECT * FROM `t_school_class` where `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school_class` WHERE `id` = #{id}
    </update>

    <select id="getByTeacherId" parameterType="java.lang.Integer" resultMap="result_clazz">
        SELECT * FROM `t_school_class` where `teacher_id` = #{tid} AND `school_id` = #{sid}
    </select>

    <select id="getAll" resultMap="result_clazz">
        SELECT * FROM `t_school_class` ORDER BY `c_time` DESC
    </select>
    
</mapper>