<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.InvoiceRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.beans.model.ContractInvoiceModel" id="result_invoice">
        <id property="id" column="id"/>  
        <result property="contractId" column="contract_id"/>
        <result property="schoolId" column="school_id"/>
        <result property="invoiceNo" column="invoice_no"/>
        <result property="price" column="fee_amount"/>
        <result property="type" column="fee_type"/>
        <result property="creationTime" column="creationTime" />
        <result property="lastUpdateTime" column="updateTime" />
        <result property="ownerId" column="owner_id" />
        <result property="status" column="status" />

        <!--
        <association property="contract" column="contract_id"
                     select="org.edu.timelycourse.mc.biz.repository.ContractRepository.get" />-->
    </resultMap>
    
    <insert id="insert" parameterType="ContractInvoiceModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school_invoice` (contract_id, school_id, invoice_no, fee_amount, fee_type, creationTime, owner_id, status)
          VALUES (#{contractId}, #{schoolId}, #{invoiceNo}, #{price}, #{type}, #{creationTime}, #{ownerId}, #{status})
    </insert>

    <update id="update" parameterType="ContractInvoiceModel">
        UPDATE `t_school_invoice`
        <set>
            <if test="contractId != null and contractId > 0">`contract_id` = #{contractId},</if>
            <if test="invoiceNo != null and invoiceNo != ''">`invoice_no` = #{invoiceNo},</if>
            <if test="price != null and price > 0">`fee_amount` = #{price},</if>
            <if test="type != null and type > -1">`fee_type` = #{type},</if>
            <if test="updateTime != null">`updateTime` = #{lastUpdateTime},</if>
            <if test="creationTime != null">`creationTime` = #{creationTime},</if>
            <if test="ownerId != null and ownerId > 0">`owner_id` = #{ownerId},</if>
            <if test="status != null and status > 0">`status` = #{status},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByPage" parameterType="ContractInvoiceModel" resultMap="result_invoice">
        SELECT * FROM `t_school_invoice`
        <where>
            1 = 1
            <if test="contractId != null and contractId > 0"> AND `contract_id` = ${contractId}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = ${schoolId}</if>
            <if test="invoiceNo != null and invoiceNo != ''"> AND `invoice_no` LIKE CONCAT('%',#{invoiceNo},'%')</if>
            <if test="type != null and type > -1"> AND `fee_type` = #{type}</if>
            <if test="ownerId != null and ownerId > 0"> AND `owner_id` = #{ownerId}</if>
            <if test="creationTime != null"> AND `creationTime` = #{creationTime}</if>
            <if test="status != null and status > 0"> AND `status` = #{status}</if>
        </where>
        ORDER BY `creationTime` DESC
    </select>

    <select id="getByCriteria" parameterType="org.edu.timelycourse.mc.beans.criteria.InvoiceCriteria" resultMap="result_invoice">
        SELECT * FROM `t_school_invoice`
        <where>
            1 = 1
            <if test="startDate != null and startDate != ''">AND DATE_FORMAT(`creationTime`, '%Y-%m-%d') &gt;= #{startDate}</if>
            <if test="endDate != null and endDate != ''">AND DATE_FORMAT(`creationTime`,'%Y-%m-%d') &lt;= #{endDate}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = #{schoolId}</if>
            <if test="payType != null and payType > -1">AND `fee_type` = #{payType}</if>
            <if test="status != null and status > 0"> AND `status` = #{status}</if>
            AND `contract_id` IN
            (
                SELECT `id` FROM `t_school_contract`
                <where>
                    1 = 1
                    <if test="studentName != null and studentName != ''">
                        AND `student_id` IN (SELECT `id` FROM `t_school_student` WHERE `s_name` LIKE CONCAT('%',#{studentName},'%'))
                    </if>
                    <if test="consultantName != null and consultantName != ''">
                        AND `consult_id` IN (SELECT `id` FROM `t_member` WHERE `u_name` LIKE CONCAT('%',#{consultantName},'%'))
                    </if>
                    <if test="supervisorName != null and supervisorName != ''">
                        AND `supervisor_id` IN (SELECT `id` FROM `t_member` WHERE `u_name` LIKE CONCAT('%',#{supervisorName},'%'))
                    </if>
                    <!-- <if test="contractStatus != null and contractStatus > -1"> AND `c_status` = #{contractStatus}</if> -->
                </where>
            )
        </where>
        ORDER BY `creationTime` DESC
    </select>
    
    <select id="get" parameterType="java.lang.Integer" resultMap="result_invoice">
        SELECT * FROM `t_school_invoice` where `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school_invoice` WHERE `id` = #{id}
    </update>

    <select id="getByContractId" parameterType="java.lang.Integer" resultMap="result_invoice">
        SELECT * FROM `t_school_invoice` where `contract_id` = #{contractId}
    </select>

    <select id="getAll" resultMap="result_invoice">
        SELECT * FROM `t_school_invoice` ORDER BY `creationTime` DESC
    </select>
    
</mapper>