<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.energycourse.mc.biz.repository.school.SchoolInfoRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.energycourse.mc.biz.entity.school.SchoolInfo" id="result_school">
        <id property="id" column="id"/>  
        <result property="schoolName" column="school_name"/>
        <result property="schoolAddress" column="school_address"/>
        <result property="schoolContact" column="school_contact"/>
        <result property="schoolStatus" column="status"/>
    </resultMap>
    
    <insert id="insert" parameterType="SchoolInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school` (school_name, school_address, school_contact, status)
            VALUES(#{schoolName}, #{schoolAddress}, #{schoolContact}, #{schoolStatus})
    </insert>

    <update id="update" parameterType="SchoolInfo">
        UPDATE `t_school` SET
            school_name = #{schoolName},
            school_address = #{schoolAddress},
            school_contact = #{schoolContact},
            status = #{schoolStatus}
        WHERE id = #{id};
    </update>
    
    <select id="get" parameterType="java.lang.Integer" resultMap="result_school">
        SELECT * FROM `t_school` where `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school` WHERE `id` = #{id};
    </update>

    <select id="getBySchoolName" parameterType="java.lang.String" resultMap="result_school">
        SELECT * FROM `t_school` where `school_name` = #{name}
    </select>

    <select id="getAll" resultMap="result_school">
        SELECT * FROM `t_school`
    </select>
    
</mapper>