<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.SchoolRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.biz.model.SchoolModel" id="result_school">
        <id property="id" column="id"/>  
        <result property="schoolName" column="s_name"/>
        <result property="schoolAddress" column="s_address"/>
        <result property="schoolContact" column="s_contact"/>
        <result property="schoolStatus" column="s_status"/>
        <result property="creationTime" column="s_createTime" />
        <result property="lastUpdateTime" column="s_lastUpdateTime" />
    </resultMap>
    
    <insert id="insert" parameterType="SchoolModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school` (s_name, s_address, s_contact, s_status, s_createTime, s_lastUpdateTime)
            VALUES(#{schoolName}, #{schoolAddress}, #{schoolContact}, #{schoolStatus}, #{creationTime}, #{lastUpdateTime})
    </insert>

    <update id="update" parameterType="SchoolModel">
        UPDATE `t_school` SET
        <set>
            <if test="schoolName != null and schoolName != ''">`s_name` = #{schoolName},</if>
            <if test="schoolAddress != null and schoolAddress != ''">`s_address` = #{schoolAddress},</if>
            <if test="schoolContact != null and schoolContact != ''">`s_contact` = #{schoolContact},</if>
            <if test="schoolStatus != null and schoolStatus > -1">`s_status` = #{schoolStatus},</if>
            <if test="lastUpdateTime != null">`s_lastUpdateTime` = #{lastUpdateTime},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByPage" parameterType="SchoolModel" resultMap="result_school">
        SELECT * FROM `t_school`
        <where>
            1 = 1
            <if test="schoolName != null and schoolName != ''"> AND `s_name` LIKE "%"#{userName}"%"</if>
            <if test="schoolAddress != null and schoolAddress != ''"> AND `s_address` LIKE "%"#{schoolAddress}"%"</if>
            <if test="schoolContact != null and schoolContact != ''"> AND `s_contact` LIKE "%"#{schoolContact}"%"</if>
            <if test="schoolStatus != null and schoolStatus > -1"> AND `s_status` = #{schoolStatus}</if>
        </where>
    </select>
    
    <select id="get" parameterType="java.lang.Integer" resultMap="result_school">
        SELECT * FROM `t_school` WHERE `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school` WHERE `id` = #{id}
    </update>

    <select id="getBySchoolName" parameterType="java.lang.String" resultMap="result_school">
        SELECT * FROM `t_school` where `s_name` = #{name}
    </select>

    <select id="getAll" resultMap="result_school">
        SELECT * FROM `t_school`
    </select>
    
</mapper>