<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.StudentRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.beans.model.StudentModel" id="result_student">
        <id property="id" column="id"/>  
        <result property="name" column="s_name"/>
        <result property="wxId" column="s_wxid"/>
        <result property="contactName" column="s_contactName"/>
        <result property="contactRelationType" column="s_contactRelation"/>
        <result property="contactPhone" column="s_contactPhone" />
        <result property="meto" column="s_meto" />
        <result property="schoolId" column="school_id" />
        <result property="consultantId" column="consultant_id" />
        <result property="levelId" column="cfg_level"/>
        <result property="subLevelId" column="cfg_subLevel" />
        <result property="courseId" column="cfg_course" />
        <result property="subCourseId" column="cfg_subCourse"/>
        <result property="creationTime" column="creationTime"/>
        <result property="lastUpdateTime" column="updateTime" />

        <result property="supervisorId" column="supervisor_id" />
        <result property="status" column="s_status" />

        <association property="consultant" column="consultant_id"
                     select="org.edu.timelycourse.mc.biz.repository.UserRepository.get" />
        <association property="supervisor" column="supervisor_id"
                     select="org.edu.timelycourse.mc.biz.repository.UserRepository.get" />
        <association property="level" column="cfg_level"
                     select="org.edu.timelycourse.mc.biz.repository.SystemConfigRepository.get" />
        <association property="subLevel" column="cfg_subLevel"
                     select="org.edu.timelycourse.mc.biz.repository.SystemConfigRepository.get" />
        <association property="course" column="cfg_course"
                     select="org.edu.timelycourse.mc.biz.repository.SchoolProductRepository.get" />
        <association property="subCourse" column="cfg_subCourse"
                     select="org.edu.timelycourse.mc.biz.repository.SchoolProductRepository.get" />
    </resultMap>
    
    <insert id="insert" parameterType="StudentModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_school_student`
        (
          s_name, s_wxid, s_contactName, s_contactRelation, s_contactPhone, s_meto, consultant_id, school_id,
          cfg_level, cfg_subLevel, cfg_course, cfg_subCourse, creationTime, supervisor_id, s_status
        )
        VALUES
        (
          #{name}, #{wxId}, #{contactName}, #{contactRelationType}, #{contactPhone}, #{meto}, #{consultantId}, #{schoolId},
          #{levelId}, #{subLevelId}, #{courseId}, #{subCourseId}, #{creationTime}, #{supervisorId}, #{status}
        )
    </insert>

    <update id="update" parameterType="StudentModel">
        UPDATE `t_school_student`
        <set>
            <if test="name != null and name != ''">`s_name` = #{name},</if>
            <if test="wxId != null and wxId != ''">`s_wxid` = #{wxId},</if>
            <if test="contactName != null and contactName != ''">`s_contactName` = #{contactName},</if>
            <if test="contactRelationType != null and contactRelationType > -1">`s_contactRelation` = #{contactRelationType},</if>
            <if test="contactPhone != null and contactPhone != ''">`s_contactPhone` = #{contactPhone},</if>
            <if test="meto != null and meto != ''">`s_meto` = #{meto},</if>
            <if test="consultantId != null and consultantId > 0">`consultant_id` = #{consultantId},</if>
            <if test="levelId != null and levelId > 0">`cfg_level` = #{levelId},</if>
            <if test="subLevelId != null and subLevelId > 0">`cfg_subLevel` = #{subLevelId},</if>
            <if test="schoolId != null and schoolId > 0">`school_id` = #{schoolId},</if>
            <if test="courseId != null and courseId > 0">`cfg_course` = #{courseId},</if>
            <if test="subCourseId != null and subCourseId > 0">`cfg_subCourse` = #{subCourseId},</if>
            <if test="lastUpdateTime != null">`updateTime` = #{lastUpdateTime},</if>
            <if test="supervisorId != null and supervisorId > 0">`supervisor_id` = #{supervisorId},</if>
            <if test="status != null and status > -1">`s_status` = #{status},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByPage" parameterType="StudentModel" resultMap="result_student">
        SELECT * FROM `t_school_student`
        <where>
            1 = 1
            <if test="name != null and name != ''"> AND `s_name` LIKE CONCAT('%',#{name},'%')</if>
            <if test="wxId != null and wxId != ''"> AND `s_wxid` LIKE CONCAT('%',#{wxId},'%')</if>
            <if test="contactName != null and contactName != ''"> AND `s_contactName` LIKE CONCAT('%',#{contactName},'%')</if>
            <if test="contactRelationType != null and contactRelationType > -1"> AND `s_contactRelation` = #{contactRelationType}</if>
            <if test="contactPhone != null and contactPhone != ''"> AND `s_contactPhone` LIKE CONCAT('%',#{contactPhone},'%')</if>
            <if test="consultantId != null and consultantId > 0"> AND `consultant_id` = #{consultantId}</if>
            <if test="levelId != null and levelId > -1"> AND `cfg_level` = #{levelId}</if>
            <if test="schoolId != null and schoolId > -1"> AND `school_id` = #{schoolId}</if>
            <if test="subLevelId != null and subLevelId > -1"> AND `cfg_subLevel` = #{subLevelId}</if>
            <if test="courseId != null and courseId > -1"> AND `cfg_course` = #{courseId}</if>
            <if test="subCourseId != null and subCourseId > -1"> AND `cfg_subCourse` = #{subCourseId}</if>
            <if test="supervisorId != null and supervisorId > 0"> AND `supervisor_id` = #{supervisorId}</if>
            <if test="status != null and status > -1"> AND `s_status` = #{status}</if>
        </where>
    </select>

    <select id="getByCriteria" parameterType="org.edu.timelycourse.mc.beans.criteria.StudentCriteria" resultMap="result_student">
        SELECT * FROM `t_school_student`
        <where>
            1 = 1
            <if test="studentName != null and studentName != ''"> AND `s_name` LIKE CONCAT('%',#{studentName},'%')</if>
            <if test="consultantName != null and consultantName != ''">
                AND `consultant_id` IN (SELECT `id` FROM `t_member` WHERE `u_name` LIKE CONCAT('%',#{consultantName},'%'))
            </if>
            <if test="supervisorName != null and supervisorName != ''">
                AND `supervisor_id` IN (SELECT `id` FROM `t_member` WHERE `u_name` LIKE CONCAT('%',#{supervisorName},'%'))
            </if>
            <if test="grade != null and grade > 0">
                AND `cfg_level`     IN (SELECT `id` FROM `t_sys_config` WHERE `id` = #{grade})
            </if>
            <if test="gradeSub != null and gradeSub > 0">
                AND `cfg_subLevel`  IN (SELECT `id` FROM `t_sys_config` WHERE `id` = #{gradeSub})
            </if>
            <if test="studentStatus != null and studentStatus > -1"> AND `s_status` = #{studentStatus}</if>
            <if test="schoolId != null and schoolId > 0"> AND `school_id` = #{schoolId}</if>
        </where>
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_student">
        SELECT * FROM `t_school_student` where `id` = #{id}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_school_student` WHERE `id` = #{id}
    </update>

    <select id="getByWxId" parameterType="java.lang.String" resultMap="result_student">
        SELECT * FROM `t_school_student` where `s_wxid` = #{wxId}
    </select>

    <select id="getAll" resultMap="result_student">
        SELECT * FROM `t_school_student` ORDER BY `creationTime` DESC
    </select>
    
</mapper>