<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.system.SystemConfigRepository">
    
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />
	
    <resultMap type="org.edu.timelycourse.mc.biz.entity.system.SystemConfig" id="result_sysConf">
        <id property="id" column="id"/>  
        <result property="configName" column="c_name"/>
        <result property="configDescription" column="c_desc"/>
        <result property="single" column="c_single"/>
        <result property="parentId" column="c_parent"/>
        <collection property="children" column="id" javaType="java.util.ArrayList"
                    ofType="org.edu.timelycourse.mc.biz.entity.system.SystemConfig"
                    select="getChildrenConfig"
        />
    </resultMap>

    <select id="getByConfigName" parameterType="java.lang.String" resultMap="result_sysConf">
		SELECT * FROM `t_sys_config` WHERE `c_name` = #{name}
	</select>

    <select id="getChildrenConfig" parameterType="java.lang.Integer" resultMap="result_sysConf">
        SELECT * FROM `t_sys_config` WHERE `c_parent` = #{parentId}
    </select>
	
    <select id="get" parameterType="java.lang.Integer" resultMap="result_sysConf">
        SELECT * FROM `t_sys_config` WHERE `id` = #{id}
	</select>
	
    <insert id="insert" parameterType="SystemConfig" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_sys_config` (c_name, c_desc, c_single, c_parent)
			VALUES(#{configName}, #{configDescription}, #{single}, #{parentId})
    </insert>
	
    <update id="update" parameterType="SystemConfig">
        UPDATE `t_sys_config` SET c_name = #{configName}, c_desc = #{configDescription}, c_single = #{single}
        	where id = #{id}
    </update>
    
    <select id="getAll" resultMap="result_sysConf">
		SELECT * FROM `t_sys_config` WHERE `c_parent` IS NULL
	</select>
    
    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_sys_config` WHERE `id` = #{id}
    </update>
    
    <update id="deleteByConfigName" parameterType="java.lang.String">
        DELETE FROM `t_sys_config` WHERE `c_name` = #{name}
    </update>
    
</mapper>