<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.system.SystemConfigValueRepository">
    
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />
	
    <resultMap type="org.edu.timelycourse.mc.biz.model.system.SystemConfigValue" id="result_sysConfValue">
        <id property="id" column="id"/>  
        <result property="configId" column="c_id"/>
        <result property="configValue" column="c_value"/>
    </resultMap>
    
    <select id="getByConfigId" parameterType="java.lang.Integer" resultMap="result_sysConfValue">
		SELECT * FROM `t_sys_config_val` WHERE `c_id` = #{configId}
	</select>

    <select id="getByConfigValue" resultMap="result_sysConfValue">
        SELECT * FROM `t_sys_config_val` WHERE `c_value` = #{configValue} AND `c_id` = #{configId}
    </select>
	
    <select id="get" parameterType="java.lang.Integer" resultMap="result_sysConfValue">
        SELECT * FROM `t_sys_config_val` WHERE `id` = #{id}
	</select>
	
    <insert id="insert" parameterType="SystemConfig" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_sys_config_val` (c_id, c_value)
			VALUES(#{configId}, #{configValue})
    </insert>
	
    <update id="update" parameterType="SystemConfig">
        UPDATE `t_sys_config_val` SET c_id = #{configId}, c_value = #{configValue}
        	where id = #{id}
    </update>
    
    <select id="getAll" resultMap="result_sysConfValue">
		SELECT * FROM `t_sys_config_val`
	</select>
    
    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_sys_config_val` WHERE `id` = #{id}
    </update>
    
    <update id="deleteByConfigId" parameterType="java.lang.Integer">
        DELETE FROM `t_sys_config_val` WHERE `c_id` = #{configId};
    </update>
    
</mapper>