<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.UserRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.biz.model.UserModel" id="result_user">
        <id property="id" column="id"/>  
        <result property="userIdentity" column="u_identity"/>
        <result property="userName" column="u_name"/>
        <result property="password" column="u_pwd"/>
        <result property="phone" column="u_phone"/>
        <result property="wxId" column="u_wxid"/>
        <result property="type" column="u_type"/>
        <result property="role" column="u_role"/>
        <result property="schoolId" column="school_id"/>
        <result property="status" column="u_status"/>
        <result property="lastLoginTime" column="u_lastLoginTime"/>
        <result property="creationTime" column="u_creationTime"/>
        <result property="lastUpdateTime" column="u_lastUpdateTime" />
    </resultMap>
    
    <insert id="insert" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_member` (u_identity, u_name, u_pwd, u_phone, u_wxid, u_type, u_role, school_id, u_status, u_creationTime, u_lastUpdateTime)
            VALUES(#{userIdentity}, #{userName}, #{password}, #{phone}, #{wxId}, #{type}, #{role}, #{schoolId}, #{status}, #{creationTime}, #{creationTime})
    </insert>

    <update id="update" parameterType="UserModel">
        UPDATE `t_member` SET
        <set>
            <if test="userIdentity != null and userIdentity != ''">`u_identity` = #{userIdentity},</if>
            <if test="userName != null and userName != ''">`u_name` = #{userName},</if>
            <if test="password != null and password != ''">`u_pwd` = #{password},</if>
            <if test="status != null and status > -1">`u_status` = #{status},</if>
            <if test="phone != null and phone != ''">`u_phone` = #{phone},</if>
            <if test="wxId != null and wxId != ''">`u_wxid` = #{wxId},</if>
            <if test="type != null and type > -1">`u_type` = #{type},</if>
            <if test="role != null and role > -1">`u_role` = #{role},</if>
            <if test="schoolId != null and schoolId > -1">`school_id` = #{schoolId},</if>
            <if test="lastUpdateTime != null and userIdentity != ''">`u_lastUpdateTime` = #{lastUpdateTime},</if>
            <if test="lastLoginTime != null and lastLoginTime != ''">`u_lastLoginTime` = #{lastLoginTime},</if>
            `id` = `id`
        </set>
        WHERE id = #{id}
    </update>

    <select id="getByPage" parameterType="UserModel" resultMap="result_user">
        SELECT * FROM `t_member`
        <where>
            1 = 1
            <if test="userName != null and userName != ''"> AND `u_name` LIKE CONCAT('%',#{userName},'%')</if>
            <if test="userIdentity != null and userIdentity != ''"> AND `u_identity` LIKE CONCAT('%',#{userIdentity},'%')</if>
            <if test="status != null and status > -1"> AND `u_status` = #{status}</if>
            <if test="phone != null and phone != ''"> AND `u_phone` LIKE CONCAT('%',#{phone},'%')</if>
            <if test="wxId != null and wxId != ''"> AND `u_wxid` LIKE CONCAT('%',#{wxId},'%')</if>
            <if test="type != null and type > -1"> AND `u_type` = #{type}</if>
            <if test="role != null and role > -1"> AND `u_role` = #{role}</if>
            <if test="schoolId != null and schoolId > -1"> AND `school_id` = #{schoolId}</if>
        </where>
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_user">
        SELECT * FROM `t_member` where `id` = #{id}
    </select>

    <select id="getByUserPhone" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_phone` = #{phone}
    </select>

    <select id="getByUserId" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_identity` = #{identity}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_member` WHERE `id` = #{id}
    </update>

    <select id="getAll" resultMap="result_user">
        SELECT * FROM `t_member` order by `u_lastLoginTime` DESC
    </select>

    <select id="getBySchoolId" resultMap="result_user">
        SELECT * FROM `t_member` WHERE `school_id` = #{sid}
    </select>
    
</mapper>