<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.member.UserRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.biz.entity.member.User" id="result_user">
        <id property="id" column="id"/>  
        <result property="userId" column="u_id"/>
        <result property="userName" column="u_name"/>
        <result property="userPassword" column="u_pwd"/>
        <result property="userStatus" column="u_status"/>
        <result property="lastLoginTime" column="u_lastLoginTime"/>
    </resultMap>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_member` (u_id, u_name, u_pwd, u_status, u_lastLoginTime)
            VALUES(#{userId}, #{userName}, #{userPassword}, #{userStatus}, #{lastLoginTime})
    </insert>

    <update id="update" parameterType="User">
        UPDATE `t_member` SET
            u_id = #{userId},
            u_name = #{userName},
            u_pwd = #{userPassword},
            u_status = #{userStatus},
            u_lastLoginTime = #{lastLoginTime}
        WHERE id = #{id}
    </update>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_user">
        SELECT * FROM `t_member` where `id` = #{id}
    </select>

    <select id="getByUserName" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_name` = #{name}
    </select>

    <select id="getByUserId" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_id` = #{uid}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_user` WHERE `id` = #{id};
    </update>

    <select id="getAll" resultMap="result_user">
        SELECT * FROM `t_user` order by `u_lastLoginTime` DESC
    </select>
    
</mapper>