<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.UserRoleRepository">
    
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />
	
    <resultMap type="org.edu.timelycourse.mc.beans.model.UserRoleModel" id="result_userRole">
        <id property="id" column="id"/>  
        <result property="userId" column="u_id"/>
        <result property="role" column="role"/>
    </resultMap>
    
    <insert id="insert" parameterType="UserRoleModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_member_role` (u_id, role) VALUES(#{userId}, #{role})
    </insert>
	
    <update id="update" parameterType="UserRoleModel">
        UPDATE `t_member_role` SET u_id = #{userId}, role = #{role} WHERE id = #{id}
    </update>
    
    <select id="get" parameterType="java.lang.Integer" resultMap="result_userRole">
        SELECT * FROM `t_member_role` WHERE id = #{id}
	</select>
    
    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_member_role` WHERE id = #{id}
    </update>
    
    <update id="deleteByUserId" parameterType="java.lang.String">
        DELETE FROM `t_member_role` WHERE u_id = #{uid}
    </update>

    <select id="getByEntity" parameterType="UserRoleModel" resultMap="result_userRole">
        SELECT * FROM `t_member_role`
        <where>
            1 = 1
            <if test="userId != null and userId > 0"> AND `u_id` = #{userId}</if>
            <if test="role != null and role != ''"> AND `role` = #{role}</if>
        </where>
    </select>

    <select id="getByUserId" parameterType="java.lang.Integer" resultMap="result_userRole">
        SELECT * FROM `t_member_role` WHERE u_id = #{uid}
    </select>

    <select id="getAll" resultMap="result_userRole">
        SELECT * FROM `t_member_role`
    </select>

</mapper>