<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edu.timelycourse.mc.biz.repository.member.UserRepository">

    <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

    <resultMap type="org.edu.timelycourse.mc.biz.model.member.User" id="result_user">
        <id property="id" column="id"/>  
        <result property="userIdentity" column="u_identity"/>
        <result property="userName" column="u_name"/>
        <result property="password" column="u_pwd"/>
        <result property="phone" column="u_phone"/>
        <result property="wxId" column="u_wxid"/>
        <result property="type" column="u_type"/>
        <result property="role" column="u_role"/>
        <result property="schoolId" column="school_id"/>
        <result property="status" column="u_status"/>
        <result property="lastLoginTime" column="u_lastLoginTime"/>
        <result property="creationTime" column="u_creationTime"/>
        <result property="lastUpdateTime" column="u_lastUpdateTime" />
    </resultMap>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `t_member` (u_identity, u_name, u_pwd, u_phone, u_wxid, u_type, u_role, school_id, u_status, u_creationTime, u_lastUpdateTime)
            VALUES(#{userIdentity}, #{userName}, #{password}, #{phone}, #{wxId}, #{type}, #{role}, #{schoolId}, #{status}, #{creationTime}, #{creationTime})
    </insert>

    <update id="update" parameterType="User">
        UPDATE `t_member` SET
            u_identity = #{userIdentity},
            u_name = #{userName},
            u_pwd = #{password},
            u_status = #{status},
            u_phone = #{phone},
            u_wxid = #{wxId},
            u_type = #{type},
            u_role = #{role},
            school_id = #{schoolId},
            u_lastUpdateTime = #{lastUpdateTime},
            u_lastLoginTime = #{lastLoginTime}
        WHERE id = #{id}
    </update>

    <select id="get" parameterType="java.lang.Integer" resultMap="result_user">
        SELECT * FROM `t_member` where `id` = #{id}
    </select>

    <select id="getByUserPhone" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_phone` = #{phone}
    </select>

    <select id="getByUserId" parameterType="java.lang.String" resultMap="result_user">
        SELECT * FROM `t_member` where `u_identity` = #{identity}
    </select>

    <update id="delete" parameterType="java.lang.Integer">
        DELETE FROM `t_member` WHERE `id` = #{id}
    </update>

    <select id="getAll" resultMap="result_user">
        SELECT * FROM `t_member` order by `u_lastLoginTime` DESC
    </select>

    <select id="getBySchoolId" resultMap="result_user">
        SELECT * FROM `t_member` WHERE `school_id` = #{sid}
    </select>
    
</mapper>