<form xmlns:th="http://www.thymeleaf.org" id="pagerForm" method="GET" action="finance/invoice">
    <input type="hidden" name="pageNum" th:value="${pagingBean ne null ? pagingBean.pageNumber : 1}" />
    <input type="hidden" name="numPerPage" th:value="${pagingBean ne null ? pagingBean.pageSize : 20}"  />
</form>

<style>
    #invoiceSearchForm input { width: 80px; }
</style>

<div class="pageHeader" xmlns:th="http://www.thymeleaf.org">
    <form id="invoiceSearchForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="finance/invoice" method="GET">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        <label>缴费日期：</label>
                        <input type="text" name="startDate" class="date textInput" th:value="${criteria != null  ? criteria.startDate : ''}" /> -
                        <input type="text" name="endDate" class="date textInput" th:value="${criteria != null  ? criteria.endDate : ''}" />
                    </td>
                    <td>
                        <label>报名类型：</label>
                        <select class="combox" name="status" style="width: 100px;"
                                th:value="${criteria != null ? criteria.status : ''}">
                            <option value="">所有</option>
                            <option value="1" th:selected="${criteria != null and criteria.status eq 1}">新报</option>
                            <option value="2" th:selected="${criteria != null and criteria.status eq 2}">续报</option>
                            <option value="3" th:selected="${criteria != null and criteria.status eq 3}">退费</option>
                        </select>
                    </td>
                    <td>
                        <label>学生姓名：</label>
                        <input id="sils_name" name="studentName" type="text" class="textInput" postField="name"
                               suggestUrl="student" suggestFields="name,contactPhone" lookupGroup="sils" clean="true"
                               th:value="${criteria != null ? criteria.studentName : ''}"/>
                    </td>
                    <td>
                        <label>咨询师：</label>
                        <input id="silc_userName" name="consultantName" type="text" class="textInput"
                               postField="userName" suggestUrl="member" suggestFields="userName,phone" lookupGroup="silc" clean="true"
                               th:value="${criteria != null ? criteria.consultantName : ''}"/>
                    </td>
                    <td>
                        <label>学管师：</label>
                        <input id="silp_userName" name="supervisorName" type="text" class="textInput"
                               postField="userName" suggestUrl="member" suggestFields="userName,phone" lookupGroup="silp" clean="true"
                               th:value="${criteria != null ? criteria.supervisorName : ''}"/>
                    </td>
                    <td>
                        <label>支付方式：</label>
                        <select class="combox" style="width: 120px" name="payType" th:value="${criteria != null and criteria.payType ne null ? criteria.payType : ''}">
                            <option value="1" th:selected="${criteria != null and criteria.payType eq 1}">现金</option>
                            <option value="2" th:selected="${criteria != null and criteria.payType eq 2}">转账</option>
                            <option value="3" th:selected="${criteria != null and criteria.payType eq 3}">微信</option>
                            <option value="4" th:selected="${criteria != null and criteria.payType eq 4}">支付宝</option>
                            <option value="5" th:selected="${criteria != null and criteria.payType eq 5}">其他</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" xmlns:th="http://www.thymeleaf.org">
    <div class="panelBar">
        <div style="padding-left: 5px;line-height: 25px;">
            <span>总收入：<span th:text="${stat ne null ? stat.totalIncome : '0.00'}"></span></span>
            <span style="margin-left: 10px;">总退费：<span th:text="${stat ne null ? stat.totalRefund : '0.00'}"></span></span>
        </div>
        <ul class="toolBar" style="float:right">
            <li>
                <a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="确定要导出这些收据记录吗?"><span>导出EXCEL</span></a>
            </li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="110">
        <thead>
        <tr>
            <th width="60">报名类型</th>
            <th width="80">缴费日期</th>
            <th>姓名</th>
            <th>细分年段</th>
            <th>报名课程</th>
            <th>缴费金额</th>
            <th>收据号</th>
            <th>支付方式</th>
            <th>咨询师</th>
            <th>学管师</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${stat ne null and stat.invoices ne null and stat.invoices.items != null}">
            <tr th:each="item: ${stat.invoices.items}">
                <td align="center" th:text="${item.status ne null and item.status.name ne null ? item.status.name : '--'}"></td>
                <td align="center" th:text="${item.creationTime ne null ? #dates.format(item.creationTime, 'yyyy-MM-dd') : '--'}"></td>
                <td align="center" th:text="${item.contract ne null and item.contract.student ne null ? item.contract.student.name : '--'}"></td>
                <td align="center" th:text="${item.contract ne null and item.contract.gradeSub ne null ? item.contract.gradeSub.name : '--'}"></td>
                <td align="center" th:text="${item.contract ne null and item.contract.course ne null ? item.contract.course.name : '--'}"></td>
                <td align="center" th:text="${item.price}" th:style="${item.price < 0 ? 'color: red;' : ''}"></td>
                <td align="center" th:text="${item.invoiceNo ne null ? item.invoiceNo : '--'}"></td>
                <td align="center" th:text="${item.payType ne null and item.payType.id ne null ? item.payType.name : '--'}"></td>
                <td align="center" th:text="${item.contract ne null and item.contract.consultant ne null ? item.contract.consultant.name : '--'}"></td>
                <td align="center" th:text="${item.contract ne null and item.contract.supervisor ne null ? item.contract.supervisor.name : '--'}"></td>
            </tr>
        </div>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.name})">
                <option value="1" th:selected="${stat ne null and stat.invoices ne null and stat.invoices.pageSize eq 1}">1</option>
                <option value="20" th:selected="${pagingBean != null and pagingBean.pageSize eq 20}">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
            </select>
            <span th:text="'条，共' + ${stat ne null and stat.invoices ne null ? stat.invoices.totalItems : 0} + '条'"></span>
        </div>
        <div class="pagination" targetType="navTab"
             th:totalCount="${stat ne null and stat.invoices ne null  ? stat.invoices.totalItems : 0}"
             th:numPerPage="${stat ne null and stat.invoices ne null  ? stat.invoices.pageSize : 20}"
             pageNumShown="10"
             th:currentPage="${stat ne null and stat.invoices ne null  ? stat.invoices.pageNumber : 1}">
        </div>
    </div>
</div>