<form xmlns:th="http://www.thymeleaf.org" id="pagerForm" method="GET" action="contract/students">
    <input type="hidden" name="pageNum" th:value="${pagingBean ne null ? pagingBean.pageNumber : 1}" />
    <input type="hidden" name="numPerPage" th:value="${pagingBean ne null ? pagingBean.pageSize : 20}"  />
</form>

<style>
    #studentSearchForm input { width: 100px; }
</style>

<div class="pageHeader" xmlns:th="http://www.thymeleaf.org">
    <form id="studentSearchForm" rel="pagerForm" onsubmit="return navTabSearch(this);" action="contract/students" method="GET">
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>学生姓名：</label>
                    <input id="st_name" name="studentName" type="text" class="textInput" postField="name"
                           suggestUrl="student" suggestFields="name,contactPhone" lookupGroup="st"
                           th:value="${criteria != null  ? criteria.studentName : ''}"/>
                </li>
                <li>
                    <label>学生类型：</label>
                    <select class="combox" name="studentStatus" style="width:100px;" th:value="${criteria != null  ? criteria.studentStatus : ''}">
                        <option value="">所有</option>
                        <option value="1">在读</option>
                        <option value="2">老生</option>
                        <option value="3">暂停</option>
                    </select>
                </li>
                <li>
                    <label>学生年段：</label>
                    <select id="stu_grade" class="combox" name="grade" style="width: 120px"
                            ref="stu_gradeSub" refUrl="system/config/{value}" callIfEmpty="false"
                            data="data" group="children" optName="configDescription" optVal="id"
                            th:if="${not #lists.isEmpty(level.children)}"
                            th:with="options=${level.children}"
                            th:value="${criteria != null  ? criteria.grade : ''}">
                        <option value="">请选择</option>
                        <option th:each="option:${options}" th:value="${option.id}" th:text="${option.configDescription}">学生年段</option>
                    </select>
                </li>
                <li>
                    <label>细分年段：</label>
                    <select id="stu_gradeSub" class="combox" name="gradeSub" style="width: 120px"
                            th:value="${criteria != null  ? criteria.gradeSub : ''}">
                        <option value="">请选择</option>
                    </select>
                </li>
                <li>
                    <label>咨询师：</label>
                    <input id="st_userName" name="consultantName" type="text" class="textInput"
                           postField="userName" suggestUrl="member" suggestFields="userName,phone" lookupGroup="st"
                           th:value="${criteria != null ? criteria.consultantName : ''}"/>
                </li>
                <li th:if="${#authentication.principal.spf ne null and #authentication.principal.spf ne 0}">
                    <label>学管师：</label>
                    <input id="sr_userName" name="supervisorName" type="text" class="textInput"
                           postField="userName" suggestUrl="member" suggestFields="userName,phone" lookupGroup="sr"
                           th:value="${criteria != null  ? criteria.supervisorName : ''}"/>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent" xmlns:th="http://www.thymeleaf.org">
    <table class="table" width="100%" layoutH="110">
        <thead>
            <tr>
                <th width="60">学生类型</th>
                <th width="100">姓名</th>
                <th>微信号</th>
                <th>年段</th>
                <th>细分年段</th>
                <th>联系人姓名</th>
                <th width="80">关系</th>
                <th width="120">联系方式</th>
                <th>其他备注信息</th>
                <th>咨询师</th>
                <th th:if="${#authentication.principal.spf ne null and #authentication.principal.spf ne 0}">学管师</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <div th:if="${pagingBean != null and pagingBean.items != null}">
                <tr th:each="item: ${pagingBean.items}">
                    <td align="center"></td>
                    <td align="left" th:text="${item.name}"></td>
                    <td align="left" th:text="${item.wxId}"></td>
                    <td align="center" th:text="${item.grade ne null ? item.grade.name : '--'}"></td>
                    <td align="center" th:text="${item.gradeSub ne null ? item.gradeSub.name : '--'}"></td>
                    <td align="left" th:text="${item.contactName}"></td>
                    <td align="center" th:text="${item.contactRelation ne null ? item.contactRelation.name : '--'}"></td>
                    <td align="center" th:text="${item.contactPhone}"></td>
                    <td align="left" th:text="${item.meto ne null and item.meto ne '' ? item.meto : '--'}"></td>
                    <td align="center" th:text="${item.consultant ne null ? item.consultant.name : '--'}"></td>
                    <td align="center" th:if="${#authentication.principal.spf ne null and #authentication.principal.spf ne 0}"
                                       th:text="${item.supervisor ne null ? item.supervisor.name : '--'}"></td>
                    <td align="center">
                        <a href="javascript:void(0);" style="float: none; text-decoration: underline; color: #1465ff">变更微信号</a>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>

    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="1" th:selected="${pagingBean != null and pagingBean.pageSize eq 1}">1</option>
                <option value="20" th:selected="${pagingBean != null and pagingBean.pageSize eq 20}">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value="250">250</option>
            </select>
            <span th:text="'条，共' + ${pagingBean ne null ? pagingBean.totalItems : 0} + '条'"></span>
        </div>
        <div class="pagination" targetType="navTab"
             th:totalCount="${pagingBean ne null ? pagingBean.totalItems : 0}"
             th:numPerPage="${pagingBean ne null ? pagingBean.pageSize : 20}"
             pageNumShown="10"
             th:currentPage="${pagingBean ne null ? pagingBean.pageNumber : 1}">
        </div>
    </div>
</div>